<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stratos.syrostownhall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PoiStatueArCamera"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiCourtArCamera"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiHeadStatue"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiWall"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiOutside"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiStairs"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiBackStairs"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiCourt"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiStatue"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Home2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiPaintingArCamera"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiPainting"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PoiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AllPoiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>